@model DevQuiz.Areas.Admin.ViewModels.SubCategoryViewModel

@{
    ViewBag.Title = "Delete Sub-Category";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Admin Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
    <li>@Html.ActionLink(@Model.CategoryName, "Index", "SubCategories", new { id = @Model.CategoryId }, null)</li>
    <li class="active">Delete</li>
</ol>
<hr />

<h2>Delete Sub-Category: @Model.SubCategoryName </h2>
@{
    if (Model.QuestionsCount > 0)
    {
        string txt = (Model.QuestionsCount == 1) ? "question" : "questions";
        <h3>Sub-Category @Model.SubCategoryName has @Model.QuestionsCount @txt,</h3>
    }
}
<h4>Are you sure you want to delete this sub-category ?</h4>

<div>   
    @using (Html.BeginForm()) {

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SubCategoryId)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default btn-create-color" /> 
            @Html.ActionLink("Cancel", "Index", "SubCategories", new { id = Model.CategoryId }, new { @class = "btn btn-default" }) 
        </div>
    }
</div>
