@model DevQuiz.Areas.Admin.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Delete Category";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Admin Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
    <li class="active">Delete</li>
</ol>
<hr />

<h2>Delete Category: @Model.CategoryName </h2>
@{
    if (Model.SubCategoriesCount > 0)
    {
        string txt = (Model.SubCategoriesCount == 1) ? "sub-category" : "sub-categories";
        <h3>Category @Model.CategoryName has @Model.SubCategoriesCount @txt,</h3>       
    }
}
<h4>Are you sure you want to delete this category ?</h4> 
<br />

<div>    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CategoryId)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default btn-create-color" /> 
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })                     
        </div>
    }
</div>
