@model IEnumerable<DevQuiz.Models.Category>

@{
    ViewBag.Title = "Categories List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Admin Home", "Index", "Home")</li>
    <li class="active">Categories</li>
</ol>
<hr />

<h2>Categories List</h2>
<br /> 
@Html.ActionLink("Create New Category", "Create", null, new { @class = "btn btn-default btn-lg btn-create-color" })
<br /><br />

<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed admin-table-background">

        <tr>
            <th>
                @Html.DisplayName("Category Name")
            </th>
            <th>
                @Html.DisplayName("Actions")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.CategoryName, "Index", "SubCategories", new { id = item.CategoryId }, null)
                </td>
                <td>
                    @Html.ActionLink("Rename", "Edit", new { id = item.CategoryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
                </td>
            </tr>
        }

    </table>
</div>





